/Matriz/build/
/primeNumber/nbproject/private/
/primeNumber/build/
/showPrime/nbproject/private/
/showPrime/build/
/workingDay/nbproject/private/
/WokingDay/nbproject/private/
/WokingDay/build/
/Main/nbproject/private/
/Main/build/
/Pen/nbproject/private/
/StringComparator/nbproject/private/
/StringComparator/build/
/Pen/build/
/Marks/nbproject/private/
/Marks/build/
/StudentMarks/nbproject/private/
/StudentMarks/build/
/StudentMarks/dist/
/Statistics/nbproject/private/
/Statistics/build/
/Matrix/nbproject/private/
/Matrix/build/
/AdventCalendar/nbproject/private/
/AdventCalendar/build/
/Teistris/nbproject/private/
/Teistris/build/
/Teistris/Teistris/build/
/Teistris/Teistris/dist/
/Teistris/Teistris/nbproject/private/
/DataBase/nbproject/private/
/DataBase/build/
/Contacts/nbproject/private/
/Primitiva/nbproject/private/
/Primitiva/build/
/SortedArray/nbproject/private/
/SortedArray/build/
/Pruba/nbproject/private/
/Pruba/build/
/BrainBreaker/nbproject/private/
/BrainBreaker/build/
/AlphabetSoup/nbproject/private/
/AlphabetSoup/build/
/Xerarquia/nbproject/private/
/Xerarquia/build/
/HelloWordGUI/nbproject/private/
/HelloWordGUI/build/
/Celsius/nbproject/private/
/CelsiusConverterProject/nbproject/private/
/CelsiusConverterProject/build/
/EcuationGrafic/nbproject/private/
/evenAndOddNumbers/nbproject/private/
/evenAndOddNumbers/build/
/SliderEvenAndOddNumbers/nbproject/private/
/SliderEvenAndOddNumbers/build/
/BarradDeMenus/nbproject/private/
/BarradDeMenus/build/
/CalculadoraPrezo/nbproject/private/
/CalculadoraPrezo/build/
/Padel/nbproject/private/
/Padel/build/
/Hogwarts/nbproject/private/
/Hogwarts/build/
