/Matriz/build/
/primeNumber/nbproject/private/
/primeNumber/build/
/showPrime/nbproject/private/
/showPrime/build/
/workingDay/nbproject/private/
/WokingDay/nbproject/private/
/WokingDay/build/
/Main/nbproject/private/
/Main/build/
/Pen/nbproject/private/
/StringComparator/nbproject/private/
/StringComparator/build/
/Pen/build/
/Marks/nbproject/private/
/Marks/build/
/StudentMarks/nbproject/private/
/StudentMarks/build/
/StudentMarks/dist/
/Statistics/nbproject/private/
/Statistics/build/
/Matrix/nbproject/private/
/Matrix/build/
/AdventCalendar/nbproject/private/
/AdventCalendar/build/
/Teistris/nbproject/private/
/Teistris/build/
/Teistris/Teistris/build/
/Teistris/Teistris/dist/
/Teistris/Teistris/nbproject/private/
/DataBase/nbproject/private/
/DataBase/build/
