/Matriz/build/
/primeNumber/nbproject/private/
/primeNumber/build/
/showPrime/nbproject/private/
/showPrime/build/
/workingDay/nbproject/private/
/WokingDay/nbproject/private/
/WokingDay/build/
/Main/nbproject/private/
/Main/build/
